default,default_parser.DefaultParser
after_effect,ae_pr_parser.AfterEffectParser
premiere,ae_pr_parser.AfterEffectParser
web,web_parser.WebParser
Chrome,web_parser.WebParser
setup,web_parser.WebParser
zoom,zoom_parser.ZoomParser
RStudio,rstudio_parser.RStudioParser
Xshell,xshell_parser.XshellParser
Calculator,web_parser.WebParser
计算器,web_parser.WebParser
file explorer,web_parser.WebParser
任务栏,web_parser.WebParser
Taskbar,web_parser.WebParser
word,web_parser.WebParser
powerpoint,web_parser.WebParser
excel,web_parser.WebParser
wechat,web_parser.WebParser
adobe acrobat,ae_pr_parser.AfterEffectParser
adobe premiere pro 2021,ae_pr_parser.AfterEffectParser
adobe after effects 2023,ae_pr_parser.AfterEffectParser